<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mfrocketjavascript" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="11522083660" translate="label">
            <label>Rocket JavaScript</label>
            <tab>magefan</tab>
            <resource>Magefan_RocketJavaScript::config_magefan_rocketjavascript</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                <field id="version" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magefan\RocketJavaScript\Block\Adminhtml\System\Config\Form\Info</frontend_model>
                </field>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="key" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Key</label>
                    <frontend_model>Magefan\Community\Block\Adminhtml\System\Config\Form\ProductKeyField</frontend_model>
                </field>
                <field id="merge_files" translate="label" type="select" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merge JavaScript Files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Magefan\RocketJavaScript\Model\Config\Backend\DevSettings</backend_model>
                </field>
                <field id="minify_files" translate="label comment" type="select" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minify JavaScript Files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Magefan\RocketJavaScript\Model\Config\Backend\DevSettings</backend_model>
                    <comment>Minification is not applied in developer mode. Static content deployment is a requirement after option change</comment>
                </field>
            </group>
            <group id="deferred_javascript" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Deferred JavaScript</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select" canRestore="1">
                    <label>Enabled</label>
                    <comment>If enabled all JavaScript on storefront will be moved to the end of the page.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disallowed_pages_for_deferred_js" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="textarea" canRestore="1">
                    <label>Disallowed Pages</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Enter page patches each in a new line. "*" means any path, you can use it at the beginning or end.</comment>
                </field>
                <field id="ignore_deferred_javascript_with" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="textarea" canRestore="1">
                    <label>Ignore JavaScript</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[Enter ignored strings, each in a new line. JavaScript that contains these strings will not be moved to the bottom of the page. Scripts that contain <strong>data-rocketjavascript="false"</strong> will automatically be ignored. Example &lt;script data-rocketjavascript="false"&gt;/* some script *&lt;/script&gt;]]></comment>
                </field>
            </group>
            <group id="javascript_bundling" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>JavaScript Bundling</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Magefan\RocketJavaScript\Model\Config\Backend\DevSettings</backend_model>
                    <comment>Static content deployment is a requirement after option change</comment>
                </field>
                <field id="enable_js_bundling_optimization" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="20" translate="label" type="select" canRestore="1">
                    <label>Enable Bundling Optimization</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Static content deployment is a requirement after option change</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="included_in_bundling" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="30" translate="label" type="textarea" canRestore="1">
                    <label>Included In Bundling</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>List of files that included in JS bundle.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
